[submodule "contracts/lib/eigenlayer-middleware"]
	path = contracts/lib/eigenlayer-middleware
	url = https://github.com/layr-Labs/eigenlayer-middleware
[submodule "contracts/lib/eigenlayer-contracts"]
	path = contracts/lib/eigenlayer-contracts
	url = https://github.com/layr-Labs/eigenlayer-contracts
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
