# Ignore node_modules directory
node_modules/

# Ignore built output
dist/

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore TypeScript build artifacts
*.js
*.js.map
*.d.ts

# Ignore local anvil state
# utils/anvil/*.json

oldUtils

target/
debug/